.active {
  color: white !important;
}

.nav-link:hover {
  color: white !important;
}
nav .btn {
  background-color: white !important;
  color: black;
}
nav .btn:hover {
  background-color: rgb(235, 233, 233) !important;
  color: rgb(0, 0, 0) !important;
}
.form-control {
  margin-bottom: 20px;
}
